html,
body {
  font-family: "Lato", "Noto Sans TC", sans-serif;
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #f6f7f8;
}
header {
  height: 60px;
  color: #666666;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

nav {
  /*   outline: 3px solid blue; */
  max-width: 820px;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px 0 20px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  color: #ff6600
}

.nav-tital {
  font-weight: bold;
  letter-spacing: 1px;
}
.nav-link {
  color: #666666;
}

/* Main */
main {
  /*   outline: 3px solid red; */
  max-width: 780px;
  margin: 0 auto;
  padding: 40px 20px;
}

h2 {
  font-size: 32px;
  margin: 20px 0 8px;
}

h3 {
  font-size: 20px;
  margin: 0 0 8px;
  font-weight: 500;
}

section {
  /*   outline: 3px solid yellow; */
  margin-bottom: 48px;
}

p {
  color: #666666;
}

/* personal-info */
.avatar {
  /*   outline: 3px solid green; */
  text-align: center;
}

.avata-img {
  /*   border: 2px solid red; */
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.name {
  /*   outline: 3px solid orange; */
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
}

.social-media {
  /*   outline: 3px solid orange; */
  text-align: center;
  margin-bottom: 20px;
}

.social-media-link {
  color: #999999;
  text-decoration: none;
  margin: 0 5px;
}

.social-media-link:hover {
  color: #ff6600;
}

/* skill section */

.skills {
  /*   outline: 3px solid black; */
  display: flex;
  justify-content: space-between;
}

.skill {
  /*   outline: 3px solid red; */
  width: 30%;
}

.skill-name {
  border-top: 1px solid #999999;
  padding-top: 16px;
}

/* experience section */

hr {
  border: 0;
  height: 1px;
  background: #cccccc;
  margin: 20px 0;
}

.company , .duration {
  color: #666666;
  font-size: 12px;
  margin-right: 20px;
}

.fa-building , .fa-calendar-alt{
  margin-right: 5px;
}
